@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	background-color: black;
	opacity: 1;
}

#canva {
	opacity: 0.5;
	position: fixed;
}

canvas {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.content {
	display: block;
	text-align: left;
	width: 80%;
	padding: 1px 20px 10px 20px;
	margin: 50px 0;
	opacity: 0.9;
	background: #111;
	color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 20px 5px #d1d1d1;
	-webkit-box-shadow: 0 0 20px 5px #d1d1d1;
	box-shadow: 0 0 20px 5px #d1d1d1;
}

a {
	color: #0ad;
	font-size: 14pt;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #0ff;
}






#prjs_block {
	position: relative;
	width: 80%;
	margin: 0px;
	padding: 5px;
}

.prjs_contents {
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.prjs_contents h3 {
	margin: 0;
	padding: 0;
	color: #880;
	text-align: center;
}


.prjs_links {
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 4px 6px;
	max-width: 24.5%;
	cursor: pointer;
	user-select: none;
}

.prjs_links img {
	width: 100%;
	object-fit: scale-down;
	border: 2px solid #0f0;
	border-radius: 5px;
}

.prjs_titl {
	position: absolute;
	width: 100%;
	top:50%;
	padding: 18px 0;

	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	font-family:"Ubuntu";
	font-weight: bold;
	background: #000a;
	color: #fff;
	text-shadow: 0 0 2px #000f;
	opacity: 0;
	transition: .5s;
}

.prjs_links:hover .prjs_titl {
	opacity: 1;
}


.tit h1, .tit h2, .tit h3, .tit h4 {
	padding: 20px 0 20px;
	color: var(--text-gr);
	display:flex;
}

.tit h1:before, .tit h1:after,
.tit h2:before, .tit h2:after,
.tit h3:before, .tit h3:after,
.tit h4:before, .tit h4:after {
	color: var(--text-gr);
	content:'';
	flex:1;
	border-bottom:solid 2px;
	margin:auto 0.25em;
	
}