@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
html,
body,
div,
header,
iframe,
span {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0px;
}


/* основная разметка */

html,
body {
    min-height: 100%;
}

html {
    background-color: #D2D6DE;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: auto;
    overflow-y: auto;
}

.body {
    width: 100%;
    max-width: 1024px;
    margin-top: 50px;
    overflow: hidden;
}

header {
    position: fixed;
    display: inline-block;
    float: top;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    width: 100%;
    color: #666;
    font-size: 12px;
    background: #3C8DBC;
    border-collapse: separate;
    vertical-align: middle;
}

.sidebar {
    position: fixed;
    display: block;
    float: left;
    width: 220px;
    top: 50px;
    bottom: 0px;
    left: 0px;
    color: #fff;
    font-size: 12px;
    background: #222D32;
    border-collapse: separate;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    position: fixed;
    display: block;
    left: 220px;
    top: 50px;
    right: 0px;
    bottom: 0px;
}

.frame {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}


/* дополнительная разметка */

.cen {
    display: inline;
    vertical-align: middle;
    padding: 10px;
    line-height: 50px;
}

.tit1 {
    display: inline;
    float: left;
    width: 220px;
    height: 50px;
    text-align: center;
    background: #357CA5;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.title {
    display: inline-block;
    height: 50px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.login {
    position: fixed;
    display: block;
    text-align: right;
    top: 0px;
    right: 20px;
}

.namelog {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    padding: 0 30px 0 10px;
}

.imglog {
    display: inline;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
    vertical-align: middle;
}

.buttonlog {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 0 10px 0 10px;
}

.namelog:hover,
.buttonlog:hover {
    background: #357CA5;
}

.namelog:active,
.buttonlog:active {
    background: #204d74;
}

.button {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.button:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.button:hover {
    background-color: #204d74;
}

.button:active {
    border-color: #122b40;
}

a.btn-img {
    display: inline;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}

a.btn-img:hover {
    background: #f8f8f8;
}

a.btn-img:active {
    background: #fafafa;
}

a.btn-img>img {
    width: 25px;
    height: 25px;
}

.barlist {
    width: auto;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: #b8c7ce;
}

div.mnav {
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    height: 30px;
}

.mnavp {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    background: #1A2226;
    color: #b8c7ce;
}

ul.nav {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

ul.nav li {
    vertical-align: middle;
    display: block;
    left: 0;
    float: left;
    list-style: none;
    width: 220px;
    min-height: 40px;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    border-left: 3px solid transparent;
    box-sizing: border-box;
}

ul.nav li a {
    padding: 5px;
    display: block;
    text-decoration: none;
    color: inherit;
}

ul.nav li:active,
ul.nav li:hover,
.hov-li {
    background: #1E282C;
    color: #fff;
    border-left: 3px solid #357CA5;
}

.login-box-body {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

.login-box {
    width: 360px;
    margin: 7% auto;
}

.login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.form-group {
    margin-bottom: 15px;
    display: block;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.form-control {
    border: 1px solid #D2D6DE;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    cursor: auto;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control input:-webkit-autofill,
.form-control textarea:-webkit-autofill,
.form-control select:-webkit-autofill {
    background-color: #FAFFBD;
    background-image: none;
    color: #000;
}

.login-box-body .button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    float: right;
}

.panel {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.panel-body {
    text-align: left;
    padding: 10px;
    border-color: #ddd;
    margin: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: border-box; 
}
.panel hr  {
    border: none;
    color: #ddd;
    background-color: #ddd;
    height: 1px;

}
.table {
    width: 90%;
    min-width: 800px max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border-color: #ddd;
    margin: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: border-box;
}

.table td,
.table th {
    padding: 0px;
    line-height: 1.1;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    height: 40px;
}

.table>thead>tr>th {
    vertical-align: middle;
    border-bottom: 1px solid #ddd
}

.table>tbody+tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table>tbody>tr:hover td {
    background-color: #f5f5f5
}

.table td:nth-child(1) {
    text-align: center;
    min-width: 50px;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    min-width: 150px;
}

.table tr:hover td {
    background: #f0f0f0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    background: -moz-linear-gradient(top, #ffffff, #f0f0f0);
}

.table input[type="text"] {
    width: 100%;
    background: transparent;
    padding: 6.5px 0 6.5px 0;
    border: 1px solid #eee;
}

.table input[type="text"]:focus {
    background: #FAFFBD;
}

.tlin {
    text-align: left;
    min-width: 150px;
    vertical-align: middle;
}

td.tlin a {
    text-decoration: none;
    font-weight: bold;
    color: #00e;
}

td.tlin a:hover {
    text-decoration: underline;
}
